* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }


body{
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgb(179, 185, 240) 100%
    );
    color: #fff;
    
  }

  #Box {
    width: 50%;
    font-size: 14px;
    background-color: indigo;
    
  }

  @media screen and (max-width: 700px) {
    #Box {
      width: 90%;
      font-size:10px;
    }
  }
  .nuke{
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: white;
  background-color: indigo;
  font-family: roboto;
  font-size: 1.5rem;
  font-weight: 100;
  overflow: hidden;
  margin-top: 15px;
  padding: 0.5rem 2rem;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.nuke::after {
  background-color: #ff0;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.nuke:hover::after {
  transform: translate(0, 0);
}
.nuke:hover {
  border: 2px solid transparent;
  color: #4b0082;
  transform: scale(1.05);
  will-change: transform;
}